{
  "Update-AzWvdSessionHost+[NoContext]+Update+$PATCH+https://management.azure.com/subscriptions/6738509d-84ed-4ad6-974a-7dc4e3c34146/resourceGroups/zhongjie-rg-wus/providers/Microsoft.DesktopVirtualization/hostPools/zhongjie-automated2/sessionHosts/auto2-0?api-version=2026-02-01-preview+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/6738509d-84ed-4ad6-974a-7dc4e3c34146/resourceGroups/zhongjie-rg-wus/providers/Microsoft.DesktopVirtualization/hostPools/zhongjie-automated2/sessionHosts/auto2-0?api-version=2026-02-01-preview",
      "Content": "{\r\n  \"properties\": {\r\n    \"allowNewSession\": false\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "X-Rate-Limit-Limit": [ "5m" ],
        "X-Rate-Limit-Remaining": [ "9997" ],
        "X-Rate-Limit-Reset": [ "2026-05-07T08:44:33.6794188Z" ],
        "x-ms-opsarmpath64": [ "L3N1YnNjcmlwdGlvbnMvNjczODUwOWQtODRlZC00YWQ2LTk3NGEtN2RjNGUzYzM0MTQ2L3Jlc291cmNlR3JvdXBzL3pob25namllLXJnLXd1cy9wcm92aWRlcnMvTWljcm9zb2Z0LkRlc2t0b3BWaXJ0dWFsaXphdGlvbi9ob3N0UG9vbHMvemhvbmdqaWUtYXV0b21hdGVkMi9zZXNzaW9uSG9zdHMvYXV0bzItMA==" ],
        "x-ms-lamport-ts": [ "-9223372036854775806" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "199" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"name\":\"zhongjie-automated2/auto2-0\",\"id\":\"/subscriptions/6738509d-84ed-4ad6-974a-7dc4e3c34146/resourcegroups/zhongjie-rg-wus/providers/Microsoft.DesktopVirtualization/hostpools/zhongjie-automated2/sessionhosts/auto2-0\",\"type\":\"Microsoft.DesktopVirtualization/hostpools/sessionhosts\",\"properties\":{\"customRdpProperty\":null,\"activeSessions\":0,\"disconnectedSessions\":0,\"pendingSessions\":0,\"sessionHostConfiguration\":\"2026-05-06T06:48:42.00Z\",\"friendlyName\":null,\"lastHeartBeat\":\"2026-05-07T06:34:48.93Z\",\"statusTimestamp\":null,\"lastUpdateTime\":\"2026-05-07T07:31:26.95Z\",\"sessions\":0,\"agentVersion\":\"1.0.13805.500\",\"allowNewSession\":false,\"assignedUser\":null,\"status\":\"Available\",\"osVersion\":\"10.0.26100.7462\",\"sxSStackVersion\":\"rdp-sxs260209600\",\"updateState\":\"Succeeded\",\"updateErrorMessage\":\"\",\"sessionHostHealthCheckResults\":[{\"healthCheckName\":\"DomainJoinedCheck\",\"healthCheckResult\":\"HealthCheckSucceeded\",\"additionalFailureDetails\":{\"message\":\"\",\"errorCode\":0,\"lastHealthCheckDateTime\":\"2026-05-07T06:34:16.7637949Z\"}},{\"healthCheckName\":\"DomainTrustCheck\",\"healthCheckResult\":\"HealthCheckSucceeded\",\"additionalFailureDetails\":{\"message\":\"\",\"errorCode\":0,\"lastHealthCheckDateTime\":\"2026-05-07T06:34:10.2890528Z\"}},{\"healthCheckName\":\"SxSStackListenerCheck\",\"healthCheckResult\":\"HealthCheckSucceeded\",\"additionalFailureDetails\":{\"message\":\"SessionHost healthy: SessionHost healthy: SxS stack listener is ready\",\"errorCode\":0,\"lastHealthCheckDateTime\":\"2026-05-07T07:03:08.9305557Z\"}},{\"healthCheckName\":\"UrlsAccessibleCheck\",\"healthCheckResult\":\"HealthCheckSucceeded\",\"additionalFailureDetails\":{\"message\":\"{\\\"AccessibleUrls\\\":[\\\"e44062a5-8afa-4f73-9be3-23d9da96d635.rdbroker-g-us-r1.wvd.microsoft.com\\\",\\\"e44062a5-8afa-4f73-9be3-23d9da96d635.rdbroker.wvd.microsoft.com\\\",\\\"e44062a5-8afa-4f73-9be3-23d9da96d635.rddiagnostics-g-us-r1.wvd.microsoft.com\\\",\\\"mrsglobalsteus2prod.blob.core.windows.net\\\",\\\"gcs.prod.monitoring.core.windows.net\\\",\\\"westus2-shared.prod.warm.ingest.monitor.core.windows.net\\\",\\\"westus2-qos.prod.warm.ingest.monitor.core.windows.net\\\"],\\\"NotAccessibleUrls\\\":null,\\\"Context\\\":null}\",\"errorCode\":0,\"lastHealthCheckDateTime\":\"2026-05-07T07:03:09.7808445Z\"}},{\"healthCheckName\":\"MonitoringAgentCheck\",\"healthCheckResult\":\"HealthCheckSucceeded\",\"additionalFailureDetails\":{\"message\":\"Located running process at C:\\\\Program Files\\\\Microsoft RDInfra\\\\RDMonitoringAgent_46.24.3\\\\Agent\\\\MonAgentLauncher.exe\",\"errorCode\":0,\"lastHealthCheckDateTime\":\"2026-05-07T06:48:08.2160072Z\"}},{\"healthCheckName\":\"MetaDataServiceCheck\",\"healthCheckResult\":\"HealthCheckSucceeded\",\"additionalFailureDetails\":{\"message\":\"{\\r\\n  \\\"Details\\\": \\\"IMDS pressumed available\\\",\\r\\n  \\\"AzureResourceId\\\": \\\"/subscriptions/6738509d-84ed-4ad6-974a-7dc4e3c34146/resourceGroups/zhongjie-rg-wus/providers/Microsoft.Compute/virtualMachines/auto2-0-2026-05-06T06-48-42-00\\\",\\r\\n  \\\"VmId\\\": \\\"c4a17698-1c18-4127-b802-6d9aaf757646\\\"\\r\\n}\",\"errorCode\":0,\"lastHealthCheckDateTime\":\"2026-05-07T07:03:08.323186Z\"}},{\"healthCheckName\":\"AppAttachHealthCheck\",\"healthCheckResult\":\"HealthCheckSucceeded\",\"additionalFailureDetails\":{\"message\":\"SessionHost healthy: MSIX packages have been properly staged\",\"errorCode\":0,\"lastHealthCheckDateTime\":\"2026-05-07T07:03:21.4695876Z\"}},{\"healthCheckName\":\"TURNRelayAccessHealthCheck\",\"healthCheckResult\":\"HealthCheckSucceeded\",\"additionalFailureDetails\":{\"message\":\"NAT shape is Undetermined when probing [turn:51.5.255.240:3478?Udp]\\nTURN relay health check failed for server [turn:51.5.255.240:3478?Udp] - One or more errors occurred.-\u003eAn address incompatible with the requested protocol was used\\n\",\"errorCode\":-2147467259,\"lastHealthCheckDateTime\":\"2026-05-07T07:03:08.9305557Z\"}},{\"healthCheckName\":\"AADJoinedHealthCheck\",\"healthCheckResult\":\"HealthCheckSucceeded\",\"additionalFailureDetails\":{\"message\":\"SessionHost healthy: Microsoft Entra ID Join check succeeded. DeviceId: 29419705-0bbc-475e-b2be-eeb06b1bcd7d.\",\"errorCode\":0,\"lastHealthCheckDateTime\":\"2026-05-07T07:03:08.9305557Z\"}}],\"resourceId\":\"/subscriptions/6738509d-84ed-4ad6-974a-7dc4e3c34146/resourceGroups/zhongjie-rg-wus/providers/Microsoft.Compute/virtualMachines/auto2-0-2026-05-06T06-48-42-00\",\"virtualMachineId\":\"c4a17698-1c18-4127-b802-6d9aaf757646\",\"objectId\":\"59fdfa5d-f836-45ac-b023-39a592618c29\"},\"systemData\":{\"createdBy\":null,\"createdByType\":null,\"createdAt\":\"2026-05-07T06:32:26.62Z\",\"lastModifiedBy\":\"zhongjieli@w365runner250520sh01.onmicrosoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2026-05-07T08:40:04.07Z\"}}",
    }
  },
  "Update-AzWvdSessionHost+[NoContext]+Update+$GET+https://management.azure.com/subscriptions/6738509d-84ed-4ad6-974a-7dc4e3c34146/resourceGroups/zhongjie-rg-wus/providers/Microsoft.DesktopVirtualization/hostPools/zhongjie-automated2/sessionHosts/auto2-0?api-version=2026-02-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/6738509d-84ed-4ad6-974a-7dc4e3c34146/resourceGroups/zhongjie-rg-wus/providers/Microsoft.DesktopVirtualization/hostPools/zhongjie-automated2/sessionHosts/auto2-0?api-version=2026-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "4" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "X-Rate-Limit-Limit": [ "5m" ],
        "X-Rate-Limit-Remaining": [ "9996" ],
        "X-Rate-Limit-Reset": [ "2026-05-07T08:44:33.6794188Z" ],
        "x-ms-opsarmpath64": [ "L3N1YnNjcmlwdGlvbnMvNjczODUwOWQtODRlZC00YWQ2LTk3NGEtN2RjNGUzYzM0MTQ2L3Jlc291cmNlR3JvdXBzL3pob25namllLXJnLXd1cy9wcm92aWRlcnMvTWljcm9zb2Z0LkRlc2t0b3BWaXJ0dWFsaXphdGlvbi9ob3N0UG9vbHMvemhvbm[...]
